.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  font-size: 18px;
  font-weight: 400;
  margin: 92px 49px 92px 51px;
}


.header__menu {
  display: flex;
  align-items: center;
}


.header__links-list  {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: inline;
}

.header__logo-image {
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 240px;
  line-height: 24.3px;
  font-style: normal;
  margin-left: auto;
}

.address a {
  width: fit-content;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  width: 100%;
  position: relative;
  padding: 165px 50px 50px;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cover__title {
  position: relative;
  z-index: 10;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin-bottom: 135px;
}

.aligned-text {
  display: block;
  padding-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
  margin-right: 60px;
  line-height: 100%;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
  padding-bottom: 0;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 10;
  width: 100%;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-right: 78px;
}

.bet-button {
  border: 1px solid #FFF;
  background: transparent;
  color: #FFF;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px;
}

.lots {
  padding: 180px 50px 181px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  list-style-type: none;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 430px;
}

.card-link {
  display: block;
  height: 450px;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #FFF;
  padding: 50px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 10;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  flex-grow: 1;
}

.card__text {
  position: relative;
  z-index: 10;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 40px;
}

.about {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 180px;
}

.about__column {
  margin-right: 25px;
}

.about__column:nth-child(2) {
  flex-grow: 1;
  margin-right: 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  margin-right: 95px;
  margin-left: 95px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__text-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 90px;
}

.footer .address {
  margin-left: 0;
}

.footer__menu-list {
  list-style-type: none;
  text-align: center;
  font-weight: 400;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  gap: 48px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
}
